html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,time,mark,audio,video { margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent; } 
table { border-collapse:collapse;border-spacing:0;}

@font-face{font-family: FuturaNewBold;src:url(/fonts/FuturaNewBold.otf);font-weight:normal;font-style:normal;}

@font-face{font-family: Roboto Light;src:url(/fonts/Roboto-Light.ttf);font-weight:normal;font-style:normal;}

@font-face{font-family: Roboto Medium;src:url(/fonts/Roboto-Medium.ttf);font-weight:normal;font-style:normal;}

@font-face{font-family: Roboto Bold;src:url(/fonts/Roboto-Bold.ttf);font-weight:normal;font-style:normal;}

@font-face{font-family: Futura New Book Regular;src:url(/fonts/FuturaNewBookRegular.ttf);font-weight:normal;font-style:normal;}

html, body { line-height:1; text-align: left; height: 100%; font-size: 16px; font-family: 'Arial'; color: #000; background-color: #fff;}
.clear{ clear: both;}
.frontend,.backend{position:fixed; top:30%;z-index: 100;}
a{text-decoration: none; color: #362f2d;}
ul {list-style-type: none;}
.frontend a{
    font-size:0; 
    width:35px; 
    height:150px; 
    background: url("../images/admin/site.png") 0 0 no-repeat transparent !important;
    float:left;
}
.backend a{
    font-size:0; 
    width:35px; 
    height:150px; 
    background: url("../images/admin/admin.png") 0 0 no-repeat transparent !important;
    float:left;
}
body {
    font-family: Arial;
    font-size: 18px;
    color: #000;
    margin: 0 0;
    min-width: 960px;
}
::-webkit-input-placeholder { color: #000; }
.breadcrumbs {
    width: 960px;
    margin: 0 auto;
    text-align: left;
    margin-top: 48px;
}
.main-wrapper {
    min-height: 100%;
}
.heading {
    font-family: 'Roboto Bold';
    font-size: 30px;
    text-align: center;
}
a.up {
    font-size: 24px;
    width: 95px;
    height: 44px;
    line-height: 44px;
    text-align: center;
    padding-right: 54px;
    padding-left: 5px;
    background: url(/images/front/arrow-up.png) 105px 13px no-repeat;
    position: absolute;
    right: 283px;
    bottom: 85px;
    box-shadow: 5px 9px 40px #e8e8e8;
}
.container {
    margin: 0 auto;
    width: 960px;
}
header {
    background-color: #e6252e;
    height: 150px;
    width: 100%;
    color: #fff;
    overflow: hidden;
}
header .btm-line .logo-main {
    display: inline-block;
    vertical-align: top;
    width: 200px;
    height: 20px;
    background: url(/images/front/logo-header.jpg) 8px -1px no-repeat;
    padding-top: 73px;
    color: #fff;
    text-align: center;
    margin-right: 49px;
    margin-top: -17px;
    font-family: 'Futura New Book Regular', 'Myriad Pro';
    font-size: 16px;
    letter-spacing: 1px;
}
header .top-line {
    height: 40px;
    margin-top: 22px;
    text-align: right;
}
header .top-line > div {
    display: inline-block;
    vertical-align: middle;
    font-size: 16px;
    border-bottom: 1px solid #f07c82;
    margin-right: 26px;
}
header .top-line .sign-up {
    margin-left: 537px;
}
header .top-line .cart {
    font-size: 20px;
    vertical-align: middle;
    border: 1px dashed #f26c71;
    width: 163px;
    height: 36px;
    text-align: left;
    line-height: 34px;
    margin-right: 0px;
    margin-left: 8px;
    padding-left: 50px;
    background: url(/images/front/cart.png)17px 7px no-repeat;
    display: inline-block;
    color: #fff;
}
header .btm-line {    
    height: 75px;
}
header .btm-line .slogan {
    width: 310px;
    font-size: 20px;
    line-height: 26px;
    margin-right: 30px;
    margin-top: 2px;
}
header .btm-line .phone {
    font-size: 50px;
    font-family: 'Roboto Light', 'Myriad Pro';
    margin-top: 10px;
}
header .btm-line .phone span {
    font-family: 'Roboto Medium';
}
header .btm-line > div {
    display: inline-block;
    vertical-align: top;
}
nav.main {
    font-weight: bold;
    background-image: -webkit-gradient(  linear,  left top,  left bottom,  color-stop(0, #F6F6F6),  color-stop(0.5, #FAFAFA),  color-stop(1, #F6F6F6) ); background-image: -o-linear-gradient(bottom, #F6F6F6 0%, #FAFAFA 50%, #F6F6F6 100%); background-image: -moz-linear-gradient(bottom, #F6F6F6 0%, #FAFAFA 50%, #F6F6F6 100%); background-image: -webkit-linear-gradient(bottom, #F6F6F6 0%, #FAFAFA 50%, #F6F6F6 100%); background-image: -ms-linear-gradient(bottom, #F6F6F6 0%, #FAFAFA 50%, #F6F6F6 100%); background-image: linear-gradient(to bottom, #F6F6F6 0%, #FAFAFA 50%, #F6F6F6 100%);
}
nav.main ul {
    font-size: 0px;
}
nav.main ul li {
    display: inline-block;
    vertical-align: bottom;
}
nav.main ul li:last-child a {
    margin-right: 0px;
}
nav.main ul li:first-child a {
    margin-left: 7px;
}
nav.main ul li a {
    font-size: 16px;  
    padding: 32px 0 20px;
    display: block;  
    margin-right: 35px;
    border-bottom: 6px solid transparent;
    text-transform: uppercase;
}
nav.main ul li a.active {
    border-bottom: 6px solid #fddf52;
}
nav ul li a:hover {
    color: #f13e45;
}
main {
    padding-bottom: 210px;
}
section.desk {
    background: url(/images/front/black-layer.jpg) center center no-repeat #050505;
    padding-bottom: 27px;
    padding-top: 50px;
}
section.desk .heading {
    color: #fff;
    font-size: 36px;
}
section.desk .items {
    color: #fff;
    font-size: 20px;
    margin-top: 28px;
    text-align: center;
}
section.desk .items .flag {
    background: url(/images/front/flag.png) 52px 14px no-repeat;
    margin-right: 100px;
}
section.desk .items .star {
    background: url(/images/front/star.png) 62px 0px no-repeat;  
    margin-right: 114px;
}
section.desk .items .pencil {
    background: url(/images/front/pencil.png) 62px 5px no-repeat;  
}
section.desk .items .item {
    padding-top: 107px;
    line-height: 23px;
    width: 220px;
}
section.models .heading {
    padding-top: 70px;
    padding-bottom: 50px;
}
section.models .products {
    text-align: center;

}
.item {
    width: 200px;
    display: inline-block;
    vertical-align: top;
    margin-right: 108px;
}
section .item:last-child {
    margin-right: 0px;
}
section.models .products .item {
    font-family: 'Roboto Bold';
    font-size: 24px;
    text-align: left;
}
section.models .products .item .pic {
    height: 240px;
    width: 200px;
    overflow: hidden;
    margin-bottom: 24px;
}
section.models .products .item span {
    font-family: 'Roboto Light'
}
section.models .products .item .price {
    color: #ff585d;
    margin-top: 4px;
    padding-left: 20px;
}
section.models .products .item .model {
    padding-left: 20px;
}
section.compare .heading {
    padding-top: 90px;
    padding-bottom: 35px;
}
section.compare table.comparison {
    width: 100%;
    text-align: center;
    background-color: #f6f6f6;
    margin-bottom: 106px;
}
section.compare table thead {
    font-weight: bold;
}
section.compare table thead tr td span {
    vertical-align: middle;
}
.icon img {
    max-width: 100%;
    max-height: 100%;
}
section.compare table thead tr {
    height: 105px;
}
section.compare table thead tr td {
    padding-top: 36px;
    vertical-align: middle;
    text-align: left;
}
section.compare table tr td:first-child {
    width: 322px;
    text-align: left;
    padding-left: 44px;
}
section.compare table tbody tr td {
    padding-bottom: 30px;
    vertical-align: top;
}
section.compare table tbody tr td.check {
    background: url(/images/front/check.png) 24px 0px no-repeat;
}
.comparison .icon {
    width: 70px;
    display: inline-block;
    height: 70px;
    background: #fff;
    border-radius: 50%;
    text-align: center;
    vertical-align: middle;
    overflow: hidden;
}
section.advantages {
    background: url(/images/front/pattern.jpg) #fddf52;
    padding: 55px 0 68px;
}
section.advantages .heading span {
    font-family: 'Roboto Light'
}
section.advantages .point {
    margin-left: 18px;
    position: relative;
    padding-left: 95px;
    height: 86px;
}
section.advantages .number {
    color: #fff;
    border: 3px solid;
    border-radius: 50%;
    text-align: center;
    width: 44px;
    height: 34px;
    padding-top: 10px;
    display: block;
    position: absolute;
    top: 20px;
    left: 22px;
    font-size: 25px;
}
section.advantages .one {
    width: 643px;
    background-color: #fff;
    margin-top: 30px;
}
section.advantages .two {
    width: 753px;  background-color: #fff9dc;
}
section.advantages .three {
    background-color: rgba(254, 239, 169, 0.6);
    width: 818px;
}
section.advantages .point .adv {
    font-size: 24px;
    font-weight: bold;
    padding-top: 25px;
}
section.about {
    padding-top: 66px;
    padding-bottom: 95px;
    position: relative;
}
section.about .heading {
    text-align: left;
    margin-left: 22px;
    padding-bottom: 30px;
}
section.about .text {
    width: 700px;
    margin-left: 22px;
}
section.about .text p {
    line-height: 21px;
    margin-bottom: 23px;
}
.more span {
    display: inline-block;
    color: #2cc1ea;
    border-bottom: 1px dotted #2cc1ea;
}
.more {
    color: #2cc1ea;
}
.contact-page .contacts {
    display: inline-block;
    vertical-align: top;
    width: 455px;
    margin-bottom: 18px;
}
.contact-page .write {
    display: inline-block;  
    vertical-align: top;  
    width: 450px;
}
h1 {
    font-family: 'Roboto Light';
    font-size: 48px;
    margin-bottom: 34px;
}
.contact-page .contacts .phone .number {
    font-size: 43px;
    font-weight: bold;
}
.contact-page .contacts .phone span {
    font-size: 14px;
}
.contact-page .contacts .phone {
    margin-bottom: 40px;
}
.contact-page .contacts p {
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 20px;
}
.contact-page .contacts p a {
    color: #1ec2eb;
    font-weight: normal;
    text-decoration: underline;
}
.contact-page .contacts p span {
    font-size: 14px;
}
.contact-page .contacts p .small {
    font-size: 14px;
    font-weight: normal;
}
.contact-page .contacts p.address {
    margin-top: 35px;
}
.form-order .text {
    width: 353px;
    margin-bottom: 20px;
    border: 1px solid #eaeff0;
    padding-top: 12px;
    padding-bottom: 13px;
    padding-left: 15px;
    font-size: 18px;
    outline: none;
    border-radius: 4px;
}
.contact-page .write textarea.text {
    height: 128px;
    border-radius: 2px;
    resize: none;
    margin-bottom: 25px;
}
.write .contact-description {
    width: 388px;
}
.contact-page .write .contact-submit {
    width: 390px;
    background-color: #909ea9;
    border: none;
    border-radius: 2px;
    color: #fff;
    font-size: 22px;
    font-weight: bold;
    outline: none;
    padding: 10px 0px;
    cursor: pointer;
    margin-top: 0px;
    line-height: 22px;
}
.contact-page .map {
    margin-bottom: 70px;
    width: 850px;
    overflow: hidden;
}
footer {
    height: 200px;
    margin-top: -200px;
    position: relative;
    background-color: #f6f6f6;
    overflow: hidden;
}
footer nav {
    height: 40px;
    margin-top: 32px;
    margin-bottom: 30px;
}
footer nav ul {
    font-size: 0;
}
footer nav ul li {
    display: inline-block;
    vertical-align: bottom;
}
footer nav ul li a {
    font-size: 14px;    
    font-weight: bold;
    display: block;  
    margin-right: 25px;
    line-height: 25px;
    text-transform: uppercase;
}
footer nav ul li .logo {
    width: 100px;
    height: 40px;
    margin-left: 37px;
    background: url(/images/front/logo-fter.jpg) 0px 10px no-repeat;
}
footer nav ul li:last-child a {
    margin-right: 0;
}
footer .btm-line {
    height: 65px;
}
footer .btm-line .details {
    display: inline-block;
    vertical-align: top;
    width: 125px;
    height: 50px;
    padding-left: 135px;
    padding-top: 14px;
    margin-right: 33px;
    margin-left: 22px;
    font-size: 16px;
    line-height: 18px;
    background: url(/images/front/logo-details.jpg) 17px 18px no-repeat #fff;
    box-shadow: 7px 14px 26px #ededed;
}
footer .btm-line .copyright {
    display: inline-block;
    vertical-align: top;
    font-size: 14px;
    line-height: 16px;
    width: 580px;
}
footer .btm-line .copyright b {
    line-height: 32px;
    padding-left: 3px;
}
footer .btm-line .copyright .about {
    margin-top: -7px;
}
.alert-danger {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
}
.alert {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
    box-sizing: border-box;
    line-height: 1.2em;
}
.alert-success {
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
}
.breadcrumbs a {
    text-decoration: underline;
}
.breadcrumbs a:hover {
    text-decoration: none;
}
.breadcrumbs a:last-child {
    text-decoration: none;
}
.media:first-child {
    margin-top: 0;
}
.media {
    margin-top: 50px;
}
.media>.pull-left {
    margin-right: 20px;
    width: 112px;
    height: 112px;
    border-radius: 7px;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}
.pull-left {
    float: left!important;
}
.media-body {
    width: 555px;
    font-size: 16px;
    line-height: 21px;
}
.media, .media-body {
    overflow: hidden;
    zoom: 1;
}
.media-body .date {
    color: #d3d8d9;
    font-size: 14px;
    margin-top: -4px;
}
.media-body .media-heading {
    font-size: 22px;
    font-weight: bold;
    display: block;
    line-height: 25px;
    margin-bottom: 4px;
}
.front-list {
    margin-top: 36px;
}
.title {
    margin-top: 14px;
    text-transform: uppercase;
}
.media-body .media-heading:hover {
    color: #25bbe6;
}
.view .contain {
    width: 700px;
    overflow: hidden;
}
.view .text img {
    max-width: 100%;
    max-height: 600px;
    margin-top: 33px;
    margin-bottom: 34px;
}
.view .date {
    color: #d3d8d9;
    font-size: 14px;
    text-transform: uppercase;
}
.view .text h3 {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 5px;
}
.view h1 {
    line-height: 45px;
    margin-bottom: 32px;
}
.view .text p {
    line-height: 18px;
    font-size: 16px;
    margin-bottom: 22px;
}
.pagination {
    font-size: 18px;
    padding-top: 55px;
    font-size: 0px;
    margin-bottom: 115px;
    display: block;
}
.pagination a, .pagination strong {
    display: inline-block;
    padding: 9px 14px;
    font-size: 22px;
    font-weight: bold;
}
.pagination strong {
    text-decoration: none;
    background-color: #FCD45B;
    background-image: -webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop(0.1, #FCD45B),
        color-stop(1, #FFE186)
        );
    background-image: -o-linear-gradient(bottom, #FCD45B 10%, #FFE186 100%);
    background-image: -moz-linear-gradient(bottom, #FCD45B 10%, #FFE186 100%);
    background-image: -webkit-linear-gradient(bottom, #FCD45B 10%, #FFE186 100%);
    background-image: -ms-linear-gradient(bottom, #FCD45B 10%, #FFE186 100%);
    background-image: linear-gradient(to bottom, #FCD45B 10%, #FFE186 100%);
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;

    border-radius: 2px;
}
.view .read-news {
    margin-top: 48px;
    margin-bottom: 100px;
    width: 430px;
}
.view .read-news .articles {
    width: 100%;
}
.view .article {
    width: 100%;
    margin-bottom: 24px;
}
.article .img {
    width: 57px;
    height: 57px;
    float: left;
    background-color: #e3e3e3;
    background-size: cover;
    background-position: center center;
    border-radius: 6px;
    -webkit-border-radius: 6px;
}
.text-data {
    float: left;
    margin-left: 20px;
    width: 350px;
}
.article .title {
    display: block;
    text-align: left;
    margin-top: -2px;
    font-weight: bold;
    text-transform: none;
    line-height: 22px;
}
.view .read-news .text-data div {
    font-size: 14px;
}
section.catalog {
    margin-top: 20px;
    position: relative;
}
section.catalog aside {
    width: 156px;
    float: left;
    margin-right: 70px;
    height: 100%;
}
.catalog aside ul li a {
    border-bottom: 1px dotted;
    font-size: 14px;
    display: inline-block;
    padding-top: 8px;
    line-height: 20px;
}
.catalog h1 {
    font-size: 30px;
}
.catalog aside ul li .active {
    background-color: #fddf52;    
    height: 18px;
    padding-left: 12px;
    padding-right: 16px;
    line-height: 12px;
    margin-top: 8px;  
    margin-left: -9px;  
    border: none;
    border-radius: 3px;
}
.catalog .products .item {
    margin-right: 36px;
    margin-bottom: 60px;
    position: relative;
}
.catalog .products {
    width: 700px;
    float: left;
}
.catalog .products .item:nth-child(3n) {
    margin-right: 0px;
}
.item .model {
    font-size: 24px;
    margin-top: 33px;
    padding-left: 5px;
    padding-right: 5px;
    text-transform: uppercase;
    font-family: 'Roboto Light';
}
.catalog .view-more.processing {
    background-size: 20px 20px;
}
.catalog .products .item .price {
    font-size: 24px;
    font-family: 'Roboto Bold';
    color: #ff585d;
    padding-left: 5px;
    padding-top: 2px;
}
.catalog aside ul li h2 {
    font-family: 'Roboto Bold';
    font-size: 14px;
    padding-top: 6px;
}
.catalog .details {
    width: 180px;
    height: 40px;
    font-size: 15px;
    font-weight: bold;
    background-color: #fddf52;
    line-height: 40px;
    text-align: center;
    border-radius: 3px;
    display: none;
}
.catalog .products .item:hover .details {
    display: inline-block;
    position: absolute;
    top: 90px;
    left: 7px;
}
.catalog .view-more {
    background-color: #faf9fa;
    background: url(/images/front/preloader.gif) no-repeat 105px center;
    background-size: 0;
    width: 415px;
    height: 45px;
    line-height: 45px;
    font-size: 18px;
    text-align: center;
    margin-left: 98px;
    display: block;
    margin-top: 32px;
    margin-bottom: 6px;
}
.catalog .contain {
    width: 700px;
    float: right;
}
.catalog .sort {
    width: 170px;
    font-family: 'Roboto Regular';
    font-size: 14px;
    position: absolute;
    top: 6px;
    right: 67px;
    background: url(/images/front/arrow-down.png) 140px 4px no-repeat;
}
.catalog .sort span {
    color: #15c1ec;
    border-bottom: 1px dotted #15c1ec;
}
section.catalog-info .gallery {
    width: 380px;
    float: left;
    margin-right: 14px;
}
section.catalog-info .description {
    width: 490px;
    float: left;
}
section.catalog-info h1 {
    text-transform: uppercase;
}
section.catalog-info h1 span {
    font-family: 'Roboto Bold';
}
.catalog-info .gallery .pic {
    width: 350px;
    margin-bottom: 10px;
}
.catalog .sort.desc {
    background-position: 140px -8px;
}
.catalog-info .description p {
    margin-bottom: 30px;
    line-height: 25px;
}
section.catalog-info {
    padding-top: 14px;
    padding-bottom: 80px;
}
.catalog-info .description li {
    line-height: 30px;
    list-style: disc;
}
.button {
    width: 260px;
    font-size: 20px;
    height: 50px;
    text-align: center;
    background-color: #fddf52;
    line-height: 50px;
    margin-top: 25px;
    border-radius: 3px;
    cursor: pointer;
    font-weight: bold;
}
.catalog-info .description .price, .item-decription .price {
    color: #ff535a;
    font-size: 48px;
    margin-top: 40px;
}
.catalog-info .description ul {
    margin-left: 18px;
}
.rub {
    display: inline-block;
    border-bottom: 1px solid;
    line-height: 0px;
    width: 8px;
    height: 3px;
    font-size: 13.0pt;
    box-sizing: border-box;
}
.catalog-info .description .price span.rub {
    font-size: 48px;
    height: 8px;
    width: 25px;
    border-bottom: 3px solid;
}
.flex-control-nav.flex-control-paging {
    display: none;
}
.flex-direction-nav a {
    position: absolute;
    left: 0px;
    margin-top: -31px;
    border-radius: 50%;
    top: 50%;
    background: url(/images/front/arrows.png) no-repeat 14px 10px;
    display: block;
    width: 50px;
    height: 50px;
    cursor: pointer;
}
.flexslider {
    position: relative;
}
.flex-direction-nav a.flex-next {
    left: auto;
    right: 0;
    background-position: -25px 10px;
}
.main nav.main {
    background: #fff;
}
.main-slider {
}
.item-category {
    font-size: 24px;
}
.main-slider > .slides {
    padding: 40px 0;
}
.item-name {
    font-size: 58px;
    text-transform: uppercase;
    display: block;
    margin-top: 5px;
    font-family: Roboto Light;
}
.item-name .brand {
    font-family: Roboto Bold;
}
.item-details {
    margin-top: 14px;
    line-height: 24px;
    font-size: 16px;
}
.item-decription {
    float: left;
    width: 340px;
    margin-right: 100px;
    margin-bottom: 50px;
}
.item-gallery {
    float: left;
    width: 400px;
    height: 460px;
    position: relative;
    margin-bottom: 50px;
}
.item-gallery .flex-direction-nav a.flex-prev{
    left: -55px;
}
.item-gallery .flex-direction-nav a.flex-next{
    right: -55px;
}
.pic img {
    max-width: 100%;
    max-height: 100%;
    text-align: center;
}
.tech-info table {
    width: 100%;
    background-color: #f5f5f5;
    margin-top: 18px;
}
.tech-info table td {
    text-align: left;
    font-size: 14px;
    line-height: 24px;
    padding: 14px 10px;
}
.tech-info table tr td:first-child {
    width: 300px;
    padding-left: 20px;
}
.tech-info table tbody tr {
}
.gallery-slider {
    padding-bottom: 50px;
    position: relative;
}

.flex-control-nav {
    position: absolute;
    left: 0;
    bottom: 2px;
    height: 38px;
    width: 100%;
    text-align: center;
}
.flex-control-nav li {
    width: 39px;
    cursor: pointer;
    display: inline-block;
    border: 2px solid #fff;
    height: 33px;
    margin-right: 12px;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    background: #fff no-repeat center center;
    background-size: 80%;
}
.flex-control-nav li.flex-active {
    border-color: #fddf52;
}
.flex-direction-nav a:hover {
    background: #fff url(/images/front/arrows.png) no-repeat 14px  10px;
    -webkit-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.05); 
    -moz-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.05); 
    box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.05);
}
.flex-direction-nav a.flex-next:hover {
    background: #fff url(/images/front/arrows.png) no-repeat -25px 10px;  -webkit-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.05);  -moz-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.05);  box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.05);
}
.tizer-msg {
    display: none;
}

.tizer {
    position: absolute;
    z-index: 22;
    background: url(/images/front/tizer.png) no-repeat center;
    width: 50px;
    height: 50px;
}

.tizers {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
}

.slides > li {
    position: relative;
}
.top-slider {
    background-image: -webkit-gradient( linear, left top, left bottom, color-stop(0, #F6F6F6), color-stop(0.5, #FAFAFA), color-stop(1, #F6F6F6) );  background-image: -o-linear-gradient(bottom, #F6F6F6 0%, #FAFAFA 50%, #F6F6F6 100%);  background-image: -moz-linear-gradient(bottom, #F6F6F6 0%, #FAFAFA 50%, #F6F6F6 100%);      
    position: relative;
    padding-bottom: 75px;
    padding-top: 50px;
}

.main-control-nav li, .main-control-direction li {
    display: inline-block;
    font-size: 24px;
    border-bottom: 1px dotted;
    cursor: pointer;
    margin-right: 60px;
}
.main-control-direction li {
    height: 0;
    border: none;
}
.main-control-nav, .main-control-direction{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    background: #fff;
    height: 52px;
    text-align: center;
    padding-top: 23px;
}
.main-control-direction {
    background: #fff;
}

.main-control-nav li:hover {
    border-color: transparent;
}
.main-control-nav li:last-child, .main-control-direction li:last-child {
    margin-right: 0px;
}
.main-control-nav li.flex-active {
    border-bottom: 6px solid #fddf52;
    padding-bottom: 22px;
    position: relative;
}
.main-control-nav li.flex-active:after {
    bottom: 120%;   left: 50%;   border: solid transparent;   content: " ";   height: 0;   width: 0;   position: absolute;   pointer-events: none;   border-color: rgba(136, 183, 213, 0);   
    border-bottom-color: #fff;   border-width: 30px;   margin-left: -30px;
}
.item-details img {              
    box-shadow: 8px 5px 15px 0px rgba(0,0,0,0.2);
    box-shadow: 5px 5px 20px 0px rgba(0,0,0,0.2);
}
header .top-line .cart:hover {
    background-color: #ef444c;
    border: 1px solid transparent;
}
.cart .product {
    height: 105px;
    border-bottom: 1px solid #eaeff0;
    padding-bottom: 10px;
    padding-top: 10px;
    position: relative;
}
.model span:first-child {
    font-family: 'Roboto Bold';
}
.cart .product .item {
    float: left;
    margin-right: 0;
    width: 575px;
    height: 100px;
}
.pic {
    width: 80px;
    height: 100px;
    background-color: #e3e3e3;
    float: left;
    margin-right: 20px;
}
.cart .product .quantity {
    width: 380px;
    float: right;
    height: 50px;
    line-height: 108px;
}
.cart .product .quantity > div {
    display: inline-block;
    vertical-align: middle;
}
section.form-order {
    margin-top: 60px;
    margin-bottom: 250px;
}
.cart .product .item .model {
    padding-left: 2px;
    display: inline-block;
    max-width: 466px;
    overflow: hidden;
    line-height: 108px;
    margin-top: 0;
}
.cart h1 {
    margin-bottom: 6px;
}
.cart .product .quantity .number {
    width: 50px;
    border: 1px solid #eaeff0;
    font-weight: bold;
    line-height: 48px;
    text-align: center;
    border-radius: 3px;
    font-size: 18px;
}
.cart .product .quantity .price {
    font-size: 24px;
    font-family: 'Roboto Bold';
    padding-left: 18px;
}
.cart .product .close {
    font-size: 24px;
    font-weight: bold;
    position: absolute;
    top: 50px;
    right: 60px;
}
.cart .total {
    text-align: right;
    padding-right: 55px;
    font-size: 22px;
    margin-top: 26px;
}
.cart .total span {
    font-weight: bold;
}
.form-order .enter-data {
    width: 370px;
    float: left;
    margin-right: 70px;
}
.form-order .details {
    float: right;
    width: 515px;
}
.form-order h1 {
    margin-bottom: 30px;
}
.text:focus {
    border: 2px solid #fada47;
    font-weight: bold;
    padding-top: 12px;
    padding-bottom: 11px;
}
textarea.text {
    resize: none;
    width: 351px;
    font-size: 18px;
    height: 112px;
    padding-top: 23px;
    padding-left: 18px;
}
.form-order input.button {
    margin-top: 14px;
    font-size: 22px;
    font-weight: bold;
    display: block;
    width: 100%;
    outline: none;
    border: none;
}
.form-order .details p {
    line-height: 20px;
    margin-bottom: 26px;
}
.form-order .enter-data .address {
    background: url(/images/front/arrowdown.png) 340px 18px no-repeat;
}
.advantages .details {
    display: block;
    width: 100%;
    background-color: transparent;
    text-align: left;
    font-size: 18px;
    font-weight: normal;
    line-height: 23px;
}
}
.product-view .flex-control-nav {
    height: 70px;
    text-align: left;
}

.product-view .flex-control-nav li {
    width: 80px;
    height: 70px;
    box-sizing: border-box;
}

.product-view .gallery-slider {
    padding-bottom: 80px;
}
.arrow_box {
	position: relative;
	background: #fff;
	border: 2px solid #e0e0e5;
}
.arrow_box:after, .arrow_box:before {
	top: 100%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.arrow_box:after {
	border-color: rgba(255, 255, 255, 0);
	border-top-color: #fff;
	border-width: 10px;
	margin-left: -10px;
}
.arrow_box:before {
	border-color: rgba(224, 224, 229, 0);
	border-top-color: #e0e0e5;
	border-width: 13px;
	margin-left: -13px;
}
.tech-info h2 {
    font-size: 24px;
    font-weight: normal;
    width: 240px;
    text-align: center;
    padding: 8px 12px;
    border-radius: 4px;
}
.tech-info table tr:nth-child(2n) td {
    background-color: #fff;
}
.addition {
    background-color: #fff6ca;
    padding: 20px 20px 10px;
    font-size: 14px;
    margin-bottom: 80px;
    margin-top: 60px;
}

.addition .files {
    float: left;
    margin-right: 40px;
}
.addition .sertificates {
    float: left;
}
.addition .files a {
    display: block;
    font-weight: bold;
    font-size: 18px;
    line-height: 24px;
    padding-right: 30px;
    background: url(/images/front/pdf.png) no-repeat right top;
    margin-top: 4px;
}
